body{
    display: grid;
    place-items:center;
    height: 100vh;
    width:100vw;
}

#center{
    height: 10px;
    width: 20%;
    position: absolute;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px solid black;
    /* position: relative; */
    
}
#progress{
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: greenyellow;
    border-radius: 100px;
    
}

